@import 'tailwindcss';
@reference "./main.css";

.input {
  @apply w-full p-3 bg-neutral-50 border border-neutral-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent transition-all;
}

.input-invalid {
  @apply border-danger;
}

.input-label {
  @apply w-full mb-4 pl-1 font-normal;
}

.input-error {
  @apply w-full mt-1 pl-3 text-danger;
}
