@import 'tailwindcss';

@theme {
  --color-primary-light: #14b8a6;
  --color-primary: #0d9488;
  --color-primary-dark: #0f766e;

  --color-secondary-light: #fdba74;
  --color-secondary: #fb923c;
  --color-secondary-dark: #f97316;

  --color-success-light: #4ade80;
  --color-success: #22c55e;

  --color-warning-light: #fde047;
  --color-warning: #facc15;

  --color-danger-light: #ef4444;
  --color-danger: #d4183d;

  --color-neutral-50: #fafafa;
  --color-neutral-100: #f4f4f5;
  --color-neutral-200: #e4e4e7;
  --color-neutral-300: #d4d4d8;
  --color-neutral-400: #a1a1aa;
  --color-neutral-500: #71717a;
  --color-neutral-600: #52525b;
  --color-neutral-700: #3f3f46;
  --color-neutral-800: #27272a;
  --color-neutral-900: #18181b;
}

body {
  @apply bg-neutral-50;
}

h1 {
  @apply text-[32px] font-medium leading-8;
}

h2 {
  @apply text-[24px] font-medium leading-6;
}

h3 {
  @apply text-[20px] font-medium leading-5;
}

h4 {
  @apply text-[16px] font-medium leading-4;
}

p {
  @apply text-[16px] font-normal leading-4;
}

.card {
  @apply bg-white rounded-2xl p-8 border border-neutral-200;
}

.row {
  @apply flex justify-center items-center;
}

.column {
  @apply flex flex-col justify-center items-center;
}

.btn {
  @apply flex items-center justify-center gap-2 px-6 py-2.5 rounded-lg transition-all duration-200 text-white shadow-sm cursor-pointer
  active:scale-95 hover:shadow-md disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:shadow-sm;
}

.btn-primary {
  @apply bg-primary hover:bg-primary-dark disabled:hover:bg-primary-light;
}

.btn-secondary {
  @apply bg-secondary hover:bg-secondary-dark disabled:hover:bg-secondary-light;
}

.btn-ghost {
  @apply bg-white text-primary border border-neutral-300  hover:border-primary;
}

.btn-success {
  @apply bg-success hover:bg-success-light;
}

.btn-warning {
  @apply bg-warning hover:bg-warning-light;
}

.btn-danger {
  @apply bg-danger hover:bg-danger-light;
}

.input {
  @apply w-full p-3 bg-neutral-50 border border-neutral-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent transition-all;
}

.input-invalid {
  @apply border-danger;
}

.input-label {
  @apply w-full mb-4 pl-1 font-normal;
}

.input-error {
  @apply w-full mt-1 pl-3 text-danger;
}
